@{
    ViewData["Title"] = "Домашняя Страница";
}

    <div class="text-center">
        <h1 class="display-4">Добро пожаловать</h1>
        <form action="/Home/InputPage">
            <button class="mt-4" type="submit">Начать расчеты</button>
        </form>
    </div>
