@{
    ViewData["Title"] = "Справка";
}
<h1>@ViewData["Title"]</h1>
<div align="center">
    <div align="left">1) Для начала использования программы требуется на начальной странице нажать кнопку "Начать расчеты".</div>
    <div align="left">2) Можно вводить неотрицательные значения в форму.</div>
    <div align="left">3) Что бы завершить расчеты и получить результат нужно нажать нажать кнопку "Завершить расчет".</div>
    <div align="left">4) Что бы продолжить расчеты и добавить еще участки нужно нажать нажать кнопку "Продолжить расчет".</div>
    <div align="left">5) Что бы начать вычисления с начало и нужно нажать нажать кнопку "Начать сначала".</div>
</div>
